@using ProHotel.Data
@inject RoomEntryService RoomEntryService

<div class="container main_table col-md-3">
    <div class="row">
        <div class="col-md room_image">
            <img src="@room.ImageUrl" class="img-fluid" alt="Room image not found">
        </div>
        <div class="col-md">
            <div class="col-md">
                <div class="col">@room.Name</div>
                <div class="small_info">
                    <div class="row">
                        <div class="col">Pow. @room.Space</div>
                        <div class="col">Liczba osób: @room.Seats</div>
                    </div>
                    <div class="col">@room.Beds łóżka</div>
                    <div class="col">Śniadanie w cenie: @room.Breakfast</div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="col-md">
                <div class="col">Wariant @room.Variant</div>
                <div class="col">@room.PricePerDay zł/doba</div>
            </div>
        </div>
    </div>
</div>

@code {
    // string imageUrl = "images/pic.jpg";
    // string name = "Dupa";
    // float space = 69.0f;
    // int seats = 4;
    // int beds = 2;
    // bool breakfast = false;
    // string variant = "Twoja stara";
    // float pricePerDay = 420.0f;

    [Parameter]
    public Room room { get; set; }

}