@using ProHotel.Data
@inject RoomEntryService RoomEntryService
@inject NavigationManager NavigationManager

<div class="container main_table" style="cursor: pointer; background-color: #808080" onclick="@LoadRoom">
	<div class="row align-items-center">
		<div class="col-md-4 room_image">
			<img src="data:image/png;base64,@room.ImageUrl[0]" class="img-fluid" alt="Room image not found">
		</div>
		<div class="col-md-3">
			<b class="room-title">Pokój numer @room.RoomNumber</b>
			<p class="room-title">Wariant @room.Variant</p>
			<p class="room-title">@room.PricePerDay zł/doba</p>
			<p class="room-title">Powierzchnia: @room.Space m<sup>2</sup></p>

		</div>
		<div class="col-md-3">
			<div class="small_info">
				<div>
					@if (@room.Addons.Count > 0)
					{
						int i = 0;
						@foreach (var entry in @room.Addons)
						{
							<li>@entry</li>
							i++;
							if (i == 5)
							{
								break;
							}
						}
					}
				</div>
				<li>@room.Beds łóżka (@room.Beds1Person pojedyncze, @room.Beds2Person podwójne)</li>
				@if (@room.BedsChildren > 0)
				{
					<li>@room.BedsChildren łóżka dla dzieci</li>
				}
			</div>
		</div>
	</div>
</div>

@code {

	[Parameter]
	public Room room { get; set; }

	void LoadRoom()
	{
		NavigationOptions options = new()
		{
			ForceLoad = true
		};

		NavigationManager.NavigateTo($"/room/{room.RoomNumber}", options);
	}

}