@page "/room/{id:int}"
@using ProHotel.Data
@inject RoomEntryService RoomEntryService;
@inject ReservationService ReservationService;

<PageTitle>Room</PageTitle>

<div style="margin-bottom: 8%">
	<div class="row">
		<div class="room-options-background col-md-3">
			<div class="img-room">
				<img src="data:image/png;base64,@_room.ImageUrl" class="img-fluid" alt="Room image not found">
			</div>
		</div>
		<div class="room-options-background col-md-3">
			<div class="room-options">
				<h2 style="text-align: center">Cena za dzień: @_room.PricePerDay pln</h2>
				<li>Powierzchnia: @_room.Space m<sup>2</sup></li>
				<p>Wariant: @_room.Variant</p>
				<li>Ilość łóżek dla dorosłych: @_room.Beds</li>
				<li class="OptionEntryList">w tym:</li>
				<text>&emsp;Łóżka jednoosobowe: @_room.Beds1Person</text>
				<p>&emsp;Łóżka dwuosobowe: @_room.Beds2Person</p>
				<li>Łóżka dziecięce: @_room.BedsChildren</li>
			</div>
		</div>
		<div class="room-options-background col-md-3">
			<div class="room-options">
				<h2 style="text-align: center">Wyposażenie pokoju: </h2>
				<ul class="search-result-list">
					@foreach (var addon in _room.Addons)
					{
						<li>
							@addon
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="row">

	</div>
	<button class="input-button" onclick="@OnClick" hidden="@HiddenReserve">Rezerwacja</button>

	<div hidden="@Hidden">
		<ReservationWindow RoomId="@Id" OnExit="Exit" OnReservation="data => Reservation(data)"/>
	</div>
</div>
<DxPopup
	HeaderText="Efekt rezerwacji"
	hidden="@PopupVisible"
	BodyText="@ReservationResult">
</DxPopup>

@code {

	[Parameter]
	public int Id { get; set; }

	private Room? _room;

	bool PopupVisible { get; set; } = false;
	private string ReservationResult = "Rezerwacja nie powiodła się";

	bool Hidden { get; set; } = true;
	bool HiddenReserve { get; set; }

	void Exit()
	{
		Hidden = true;
		HiddenReserve = false;
	}

	void Reservation(bool data)
	{
		HiddenReserve = data;
		Hidden = true;
		ReservationResult = data ? "Rezerwacja powiodła się" : "Rezerwacja nie powiodła się";
	}

	protected override async Task OnInitializedAsync()
	{
		_room = await RoomEntryService.GetRoom(Id);
	}

	void OnClick()
	{
		Hidden = false;
		HiddenReserve = true;
	}

}